@model IEnumerable<WebApplication1.Models.OGameResource>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

@{
    int i = 0;
}
@foreach (var item in Model)
{
    <tr>
        @{ 
            String id = "ResourceId"+i;
            String val = "ResourceVal" + i;
            i++;
        }
        <input id=@id type="text" value=@item.Id class="hidden" />
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td id=@val>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
    </tr>
}

</table>
